<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      <h3 class="panel-title">
        Comments
        <div class='pull-right'><span class="glyphicon glyphicon-collapse-down"></span></div>
      </h3>
    </a>
  </div>
  <div id="collapse3" class="panel-collapse collapse.in">
    <div class="panel-body">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddComment">
        <span class="glyphicon glyphicon-bullhorn"></span> Add A Comment
      </button>
      <hr>
      <% @project.comments.each do |msg| %>
        <h4><%= msg.trustee.firstname %> <%= msg.trustee.lastname.first %> <small>posted on <%= msg.created_at.strftime('%b %d') %> at <%= msg.created_at.strftime("at %I:%M%p") %></small></h4>
        <p><%= msg.message %></p>
        <% if msg.trustee_id == current_trustee.id %>
          <%= link_to [msg.project, msg], method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          <% end %>
        <% else %>

        <% end %>
        <hr>
      <% end %>
    </div> <!-- end panel body -->
    <div class="panel-footer">
    </div> <!-- end panel footer -->
  </div>
</div>
