<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="project_coordinator">Project Coordinator</label>
    <select id="project_coordinator" class="form-control" name="project[coordinator]">
      <option value="nil">Unassigned</option>
      <% @trustees.each do |trustee| %>
        <option value="<%= trustee.id %>"<% if (@project.coordinator.to_i == trustee.id) %> selected="selected" <% end %>><%= trustee.firstname + " " + trustee.lastname %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :budgeted %>Is this item in the annual budget?
    </label>
  </div>

  <div class="form-group">
    <%= f.label :cost, "Estimated Cost of Project:" %>
    <%= f.number_field :cost, class: "form-control", placeholder: "For Example: 200" %>
  </div>

  <div class="form-group">
    <%= f.label :priority_level, "Level of Priority (1 is low):" %>
    <%= f.select :priority_level, (1..5), class: "form-control" %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :archived %>Project Completed
    </label>
  </div>

  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>

<% end %>
