<h1>Your Individual Project</h1>
<strong><%= @project.title %></strong>
<p><%= @project.description %></p>
<p><%= link_to "Back", projects_path %> <%= link_to "Edit", edit_project_path(@project) %></p>

<strong>Add a Worker:</strong>
<%= render "workers/form" %>

<strong>Workers:</strong>
<% @project.workers.each do |worker| %>
<% next if worker.new_record? %>
  <p><strong><%= worker.name %></strong></p>
  <p><%= worker.number %>, <%= worker.email %></p>
  <p><%= link_to 'Destroy Worker', [worker.project, worker],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></p>
<% end %>

<strong>Add a Step:</strong>
<%= render "steps/form" %>

<strong>Steps:</strong>
<ol>
<% @project.steps.each do |step| %>
<% next if step.new_record? %>
  <li><%= step.name %></li>
  <%= link_to 'Destroy Step', [step.project, step],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
</ol>
