<div class="row clearfix">
	<div class="col-md-12 column">
		<h2>
			<%= @project.title %>
			<% if @project.budgeted == true %>
				<span class="label label-success pull-right">Budgeted</span>
			<% else %>
				<span class="label label-danger pull-right">Not in Budget</span>
			<% end %>
			<p>
				<small>
					Created <%= @project.created_at.strftime('%b %d') %> by <%= @project.trustee.firstname %> <%= @project.trustee.lastname.first %>
					| Coordinator:
					<% if @project.coordinator? %>
					<%= @project.coordinator %>
					<% else %>
					Unassigned
					<% end %>
				</small>
			</p>
		</h2>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
          Decription
				</h3>
			</div>
			<div class="panel-body">
        <%= @project.description %>
			</div>
			<div class="panel-footer">
        <p>
					<%= link_to "Back", projects_path, class: "btn btn-default" %>
					<%= link_to "Edit", edit_project_path(@project), class: "btn btn-default"%>
					<%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
  <div class="col-md-6 column">
		<%= render "workers/workers" %>
		<%= render "steps/steps" %>
  </div>
  <div class="col-md-6 column">
		<%= render "comments/comments" %>
	</div>
</div>

<!-- Add A Comment Modal -->
<div class="modal fade" id="AddComment" tabindex="-1" role="dialog" aria-labelledby="AddCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AddCommentLabel">Add A Comment</h4>
      </div>
      <div class="modal-body">
        <%= render "comments/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add A Worker Modal -->
<div class="modal fade" id="AddWorker" tabindex="-1" role="dialog" aria-labelledby="AddWorkerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AddWorkerLabel">Add A Worker</h4>
      </div>
      <div class="modal-body">
        <%= render "workers/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add A Step Modal -->
<div class="modal fade" id="AddStep" tabindex="-1" role="dialog" aria-labelledby="AddStepLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AddWorkerLabel">Add A Step</h4>
      </div>
      <div class="modal-body">
        <%= render "steps/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
