<%= form_for @vendor do |f| %>

  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@vendor.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @vendor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Bob Doe" %>
  </div>

  <div class="form-group">
    <%= f.label :info %>
    <%= f.text_area :info, class: "form-control", placeholder: "Cell: 555-555-5555. Company: Bob's HVAC. Email: bob@bobshvac.com." %>
  </div>

  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>

<% end %>
